#logo {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.buttonbox {
    width: fit-content;
    display: flex;
}

button {

    justify-content: space-between;
    padding: 0 50px;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 50%;

}
main{
    display: block;
}

content {
    width: 50%;
    display: inline;
    text-wrap: wrap;
    justify-content: center;
}
span{
    background-color:yellow;
}
#intro{
    font-size: large
    /* margin: 50%, 0, 0, 0 */
}
#profilepic{
    float: right;
    margin: 0, 30px;
    /* display: flex; */
    /* justify-content: center; */
}

footer {
    display: block;
   float: right;
   position: fixed;
   bottom: 0;
}
footer > a{

}